body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.btn-default {
    padding-left: 10em !important;
    padding-right: 10em !important;
}

.free {
    color: green;
}

.non-free {
    color: red;
}
