<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Buena Ventura Car Park</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" />
    
    <!-- Custom styles for this template -->
    <link href="../../css/carpark.css" th:href="@{/css/carpark.css}" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
    
    
<body>

    <div class="container">

      <div class="starter-template">
        <h1>Park Buena Ventura</h1>
        <p class="lead">You can select a vehicle to free its spot</p>
    
    <form   th:each="row : ${map.smallSpots}"
            action="#" data-th-action="@{/map}" method="post"
            class="btn-group-vertical btn-group-lg" role="button" aria-label="button to choose kind of vehicle">
            
            <span th:each="spot : ${row.spots}">
                <button type="submit" name="action" th:value="${spot.getCarCode()}" class="btn btn-default"
                        th:classappend="${spot.isFree()} ? free : non-free" th:text="${spot} + ${row.ofSize()}"></button>
            </span>
    </form>
    
    <form   th:each="row : ${map.compactSpots}"
            action="#" data-th-action="@{/map}" method="post"
            class="btn-group-vertical btn-group-lg" role="button" aria-label="button to choose kind of vehicle">
            
            <span th:each="spot : ${row.spots}">
                <button type="submit" name="action" th:value="${spot.getCarCode()}" class="btn btn-default"
                        th:classappend="${spot.isFree()} ? free : non-free" th:text="${spot} + ${row.ofSize()}"></button>
            </span>
    </form>
    
    <form   th:each="row : ${map.largeSpots}"
            action="#" data-th-action="@{/map}" method="post"
            class="btn-group-vertical btn-group-lg" role="button" aria-label="button to choose kind of vehicle">
            
            <span th:each="spot : ${row.spots}">
                <button type="submit" name="action" th:value="${spot.getCarCode()}" class="btn btn-default"
                        th:classappend="${spot.isFree()} ? free : non-free" th:text="${spot} + ${row.ofSize()}"></button>
            </span>
    </form>
    
    <div>
        <a class="lead" href="/park"> Park new vehicle</a>
    </div>
    
    </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
